<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.doha_.icare">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".utilities.SharedPreferences"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">

        <activity android:name=".activates.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".fragments.MedicationFragment"></activity>

        <activity android:name=".activates.HomeActivity">
        </activity>

        <activity android:name=".activates.RegisterActivity">
        </activity>

        <activity android:name=".activates.LoginActivity"></activity>

        <activity
            android:name=".activates.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity android:name=".fragments.DetailsFragment" />
        <activity android:name=".activates.SymptomsResults"></activity>


        <activity android:name=".activates.Descriotion_Med"></activity>

        <activity android:name=".activates.SearchResults" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDR-eBpjSZnS4A10lnr34YtSwgZgbGeit8" />

        <activity
            android:name=".activates.MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity android:name=".activates.ProfileActivity">

        </activity>
        <activity android:name=".activates.RecoveryActivity">


        </activity>

    </application>

</manifest>